h1
{   
    color:#FFAEBC;
    font-family: "Noto Sans JP", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.parrafo-pagina-secundaria{
    background-color: #FFAEBC;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
}

a{
    color: #FCB5AC;
}

#parrafo-index{
    background-color: #A0E7E5;
    color: blue;
}
