.custom-navbar {
    background-color:#42dd40;
    color: #826a8a;
    font-family: "Noto Sans JP", sans-serif
}

.custom-navbar .navbar-brand,
.custom-navbar .nav-link {
    color: #ffffff;
}

.custom-navbar .nav-link:hover {
    color:#1A4314;
}

.custom-navbar .navbar-toggler  {
    border-color: #826a8a;
}

.custom-navbar .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=UTF8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba%28138, 113, 106, 1%29' stroke-width='2' linecap='round' linejoin='round' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

.h1-ive {
    display: flex;
    justify-content: center;
    color: #7a3b79;
    font-family: "Noto Sans JP", sans-serif;
    font-size: 2.5em;
    font-weight: bold;
    margin-bottom: 20px;
}

.parrafo-ive {
    background-color: #be5cf3; 
    color: hsl(0, 0%, 100%); 
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: normal; 
    font-weight:bold ;
    padding: 10px;
    border-radius: 5px; 
    line-height: 1.6;
    max-width: 800px;
    margin: 0 auto;
    margin-bottom: 15px;
}

.custom-footer {
    background-color:#42dd40;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}

.location {
    display: flex;
    align-items: center;
    font-size: 1.5em; 
    color: #ffffff;
}

.location i {
    margin-right: 10px;
}

.social-icons i {
    font-size: 1.5em;
    margin-left: 15px;
    color: #ffffff;
}

.social-icons i:hover {
    color: #D4A5A5;
}